.envelope{
  background-color: white;
  height: auto;
  margin: 0px auto 0px auto;
  padding: 20px 0px 0px 0px;
  justify-content: space-between;
  transition: all 1s ease;
}

.envelopedBlack{
  background-color: #212529;
  height: auto;
  margin: 0px auto 0px auto;
  padding: 20px 0px 0px 0px;
  justify-content: space-between;
  transition: all 1s ease;
}

.whiteText{
  color: white;
  transition: all 1s ease;
}

.blackText{
  color: #212529;
  transition: all 1s ease;
}

.fas{
  transition: all 10s ease;
}
.devGuy img{
  height: 20rem;
  width: 29rem;
}

.intro{
  font-family: "poppins", "sans-serif";
  color: black;
  padding-top: 130px;
} 

.intro h1{
  width: 100%;
  font-weight: 600;
  font-size: 30px;
}

.name{
  color:#6c63ff;
  transition: opacity 1s ease-in
}

.fadeIn{
  opacity: 0;
}

.fadeOut{
  opacity: 1;
}