.envelope{
  background-color: white;
  height: auto;
  margin: 0px auto 0px auto;
  padding: 20px 0px 0px 0px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}

.fas{
  transition: all 10s ease;
}

.envelopedBlack{
  background-color: black;
  height: auto;
  margin: 0px auto 0px auto;
  padding: 20px 0px 0px 0px;
  width: 65%;
  display: flex;
  justify-content: space-between;
  transition: all 1s ease;
}

.devGuy img{
  height: 20rem;
  width: 29rem;
}

.intro{
  font-family: "poppins", "sans-serif";
  color: black;
  padding: 130px 0px 0px 30px
} 

.intro h1{
  width: 100%;
}

.name{
  color:#6c63ff;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1024px) {
  .envelope{
    text-align: center;
    width: 100%;
    display: block;
  }
  .envelopedBlack{
    width: 100%;
    display: block;
    text-align: center;
  }
  .intro{
    padding-top: 10px;
  } 
}