.one{
  /* text-align: left; */
  font-weight: 600;
}

.arrows{
  margin-top: 3%;
text-align: center;
}

.flex-corousel{
  display: flex;
  box-shadow: -1px -3px 30px #6c63ff;
}

.left-arrow{
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: larger;
}

.right-arrow{
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: larger;
}

.fa-arrow-left{
  font-size: 200%;
  margin-right: 40px;
  color: #6c63ff;
}

.fa-arrow-right{
  font-size: 200%;
  margin-left: 40px;
  color: #6c63ff
}

@media screen and (max-width: 525px) {
  .one{
    font-size: 20px;
  }

  .left-arrow{
    margin-left: 0rem;
  }
  
  .right-arrow{
    margin-right: 0rem;
  }

  .fa-arrow-left{
    font-size: 100%;
    margin-right: 10px;
  }
  
  .fa-arrow-right{
    font-size: 100%;
    margin-left: 10px;
  }
}